{% extends 'base.html.twig' %}

{% block title 'Update Profile' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/custom.css') }}">
{% endblock %}
{% block body %}
<section class="contact-section">
        <div class="container">
            <div class="cnt1">
        <h1 class="text-center my-5">
Mettre à jour le profil</h1>
        {{ form_start(userForm) }}
        {{ form_row(userForm.firstname)}}
        {{ form_row(userForm.lastname)}}
        {{ form_row(userForm.email)}}
        {{ form_row(userForm.imageFile)}}
        <button type="submit" class="btn btn-primary">Appliquer les modifications </button>
        {{ form_end(userForm) }}   
    </div>
</div>
</section>
{% endblock %}