{% extends 'base.html.twig' %}

{% block title %}Hello AccountController!{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/custom.css') }}">
{% endblock %}
{% block body %}
<div class = "row">
        <div class = "col-md-6 mx-auto text-center">
            <h1>Profile</h1>
             <img width="200" height="200" class="bd-placeholder-img rounded-circle" src={{ vich_uploader_asset(app.user, 'imageFile') }}>
            <p>{{ app.user.email }}</p>
            <h2>{{ app.user.firstname ~" "~ app.user.lastname }}</h2>
            <p>Compte créé le {{ app.user.createdAt|date }}</p>

    <div class = "container text-center">
      <div class = "row">
    <h3>Mes videos</h3> 
    {% for video in app.user.videos %} 
    
             <article class = "col-4">
            
             <h3><a href={{ path('app_video_show', {id: video.id}) }}>{{ video.title}}</a></h3>
             <iframe width="300" height="200" src={{video.videoLink}}></iframe>
            <h5>{{ video.description|u.truncate(15,'...',false) }}</h5> 
             <p>Soumis {{ video.createdAt|ago }}
             <p>Par {{ video.user.firstname ~ ' ' ~ video.user.lastname }} 
            <div>
             
            </div>
            </article>

    {% else %}
        <p> Désolé, pas encore de vidéo </p>
    {% endfor %}
    </div>
    </div>
            <p>
                <a href={{path('app_account_edit')}}>Modifier le compte</a>
            </p>
        </div>
    </div>

{% endblock %}
