{# {% extends 'base.html.twig' %}

{% block title %}Video index{% endblock %}

{% block body %}
    <h1>Video index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>VideoLink</th>
                <th>Description</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for video in videos %}
            <tr>
                <td>{{ video.id }}</td>
                <td>{{ video.title }}</td>
                <td>{{ video.videoLink }}</td>
                <td>{{ video.description }}</td>
                <td>{{ video.createdAt ? video.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ video.updatedAt ? video.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_video_show', {'id': video.id}) }}">show</a>
                    <a href="{{ path('app_video_edit', {'id': video.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_video_create') }}">Create new</a>
{% endblock %} #}


{% extends 'base.html.twig' %}

{% block body %}

   {% set video_count = videos|length %}
    {{ video_count }}


    <main class="container">
        <section class="row">
            <div class="col-12">
                <h1>Site Video center</h1>
                <p>Bienvenue Chez nous</p>            
            </div>
            {% for video in videos %}
                    <div class="col-4">
                        <div class="card h-60 ">
                            <div class="card-body mt-4">
                             <h3 class="card-title"><a href="{{ path('app_video_show', {id: video.id}) }}">{{ video.id }} {{ video.title }} </a></h3>  
                             <iframe width="300" height="200" src={{video.videoLink}}></iframe>
                            <p class="card-text">{{ video.description|u.truncate(10,'...',false)  }}</p>
                            <p>Submitted {{ video.createdAt|ago }}</p> 
                            </div>
                        </div>
                    </div>    
            {% endfor %}
        </section>
    </main>

  
{% endblock %}