

{% extends 'base.html.twig' %}

{% block body %}

   {# {% set video_count = videos|length %}
	{{ video_count }} #}

	{%  include 'search/_search_data.html.twig'  with {form:form} only  %}

  {% if search == true %}
     {{ totalVideos }} video(s) trouvée(s) avec le terme  {{ searchData }}
{% endif %}

    <main class="container-fluid bg-dark">
        <section class="row my-5 py-5 ">
            <div class="col-12 text-center">
                <h2 class="text-secondary">Site Video center</h2>
                <p class="text-secondary">Sur ce site vous trouverez plusieurs vidéos intéréressantes,Pour certains</br> video il faudra etre enregistrer par les vors</p>  
                <button class="btn btn-outline-primary"><a class="text-decoration-none" href="{{ path ('app_register') }}">Créer un compte</a></button>   
                <button class="btn btn-outline-secondary"><a class="text-decoration-none" href="{{ path('app_login') }}">Se connecter</a></button>       
            </div>
            </section>
        

        <section class="row my-5 py-5">
        <div class="col-12">
         <iframe width="100%" height="250" src="https://www.youtube.com/embed/T3vVjfFmLSQ"></iframe>
        </div>
        </section>
            <section class="row bg-secondary px-2 py-5">
            {% for video in pagination %}

            
    {% if video.isPremiumVideo %}
        {% if app.user and app.user.isVerified %}
                <div class="col-sm-4 col-md-4 col-lg-4 mt-4">
                        <div class="card bg-dark ">
                        <div class="card-header p-0"> <iframe width="100%" height="220" src={{video.videoLink}}></iframe></div>
                            <div class="card-body">
                              
                            
                              <h3 class="card-title "><a class="text-secondary text-decoration-none" href="{{ path('app_video_show', {id: video.id}) }}">{{ video.id }} {{ video.title }} </a></h3>
                            <p class="card-text text-white">{{ video.description|u.truncate(10,'...',false)  }}</p>
                            <div class="row">
                            <div class="col-4"><a class="btn btn-outline-secondary" href="{{ path('app_video_show', {id: video.id}) }}">Détail</a></div>
                            <div class="col-8" style="text-align:right;"><p class="text-secondary">Soumis {{ video.createdAt|ago }} Par {{ video.user.firstname~ " "~video.user.lastname }}</p></div>
                            </div>
                           
                             {% if video.isPremiumVideo  %}
			                   <p class="text-white"> Premium Video </p>
		                     {% else %}
			                   <p class="text-white" > Non Premium </p>
		                     {% endif %} 
                            </div>
                        </div>
                    </div>    
    {% endif %}
    {% else %}

        <div class="col-sm-4 col-md-4 col-lg-4 mt-4">
                        <div class="card bg-dark ">
                        <div class="card-header p-0"> <iframe width="100%" height="220" src={{video.videoLink}}></iframe></div>
                            <div class="card-body">
                              
                            
                              <h3 class="card-title "><a class="text-secondary text-decoration-none" href="{{ path('app_video_show', {id: video.id}) }}">{{ video.id }} {{ video.title }} </a></h3>
                            <p class="card-text text-white">{{ video.description|u.truncate(10,'...',false)  }}</p>
                            <div class="row">
                            <div class="col-4"><a class="btn btn-outline-secondary" href="{{ path('app_video_show', {id: video.id}) }}">Détail</a></div>
                            <div class="col-8" style="text-align:right;"><p class="text-secondary">Soumis {{ video.createdAt|ago }} Par {{ video.user.firstname~ " "~video.user.lastname }}</p></div>
                            </div>
                           
                             {% if video.isPremiumVideo  %}
			                   <p class="text-white"> Premium Video </p>
		                     {% else %}
			                   <p class="text-white" > Non Premium </p>
		                     {% endif %} 
                            </div>
                        </div>
                    </div>    
    {% endif %}


                   
            {% endfor %}
        </section>
        <div class="row py-5">
        <div class="col text-center">
        {{ knp_pagination_render(pagination, null, {}, {
   'align': 'center',
   'size': 'large',
   'rounded': true,
}) }}
        </div></div>

    </main>

  <style>body{background:rgb(33,37,41)}</style>
{% endblock %}